/* Card (block) */
.card {
  max-width: 650px;
  margin: 0 auto;
  border: 0;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
}
.card--spa-page-1 {
}

/* Card: title (element) */
.card__title {
  margin: 0;
  padding: 0;
  color: #666;
}
.card__title--spa-page-1 {
  color: #660;
}

/* Card: body (element) */
.card__body {
  color: #888;
}
.card__body--spa-page-1 {
  color: #880;
}
/* Card: body (element), custom modifiers */
.card__body--blue {
  color: #29b6f6;
}
.card__body--highlight {
  color: #f44336;
}
